---
http_interactions:
- request:
    method: get
    uri: https://api.open-elevation.com/api/v1/lookup?locations=39.738453,-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results": [{"latitude": 39.738453, "longitude": -104.984853, "elevation":
        1617}]}'
  recorded_at: Wed, 13 Oct 2021 22:45:01 GMT
recorded_with: VCR 6.0.0
