---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,hourly,daily,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1634165189,"sunrise":1634130493,"sunset":1634171017,"temp":57.65,"feels_like":54.34,"pressure":1006,"humidity":26,"dew_point":24.06,"uvi":0.67,"clouds":5,"visibility":10000,"wind_speed":4,"wind_deg":29,"wind_gust":8.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]}}'
  recorded_at: Wed, 13 Oct 2021 22:46:30 GMT
recorded_with: VCR 6.0.0
